/node_modules
.project
.buildpath
.settings/*
tmp/*
node_modules/*
.editorconfig
*.swp
.DS_Store
.idea/*
Thumbs.db
nbproject/*
logs/*
dump.rdb
static/static/documents/*
nohup.out
static/static/uploads/*
data.txt
